<div class="about" id="about" >
    <h1 class="heading1"> About MarathiPDFSummarizer</h1>
    <p class="para1">Welcome to MarathiPDFSummarizer, a web-based application designed to simplify the process of understanding Marathi language documents. Developed with the aim of enhancing accessibility and efficiency in document analysis, MarathiPDFSummarizer provides users with powerful tools for summarizing content and extracting key information from Marathi PDF documents.</p>
    
    <h1 class="heading2">Key Features </h1>
    <p>Automatic Summarization: MarathiPDFSummarizer automatically generates concise summaries of Marathi PDF documents, enabling users to quickly grasp the main points without having to read through lengthy texts.</p>
    <p>Keyword Extraction: The application extracts important keywords and key phrases from Marathi PDFs, providing users with insights into the main topics discussed within the documents.</p>
    <p>Language-specific NLP: MarathiPDFSummarizer utilizes language-specific NLP techniques tailored for Marathi language processing, ensuring accurate text analysis and extraction of relevant information.</p>
    <p>Translation Option: For enhanced accessibility, MarathiPDFSummarizer offers the option to translate the generated output (summary and keywords) into English, enabling users who may not be proficient in Marathi to comprehend and utilize Marathi content effectively.</p>


<h1 class="heading3">How It Works </h1>    
Using MarathiPDFSummarizer is simple:

<li>
   Upload a Marathi PDF document through the user-friendly interface. 
</li>
<li>The application automatically generates a summary of the document and extracts key topics and keywords.</li>
<li>Explore the summarized content and extracted keywords to gain valuable insights into the document's content.</li>
    </div>
    </div>