{% include 'base.html' %}

<body>
    <div class="hero-section">
        <div class="card" style="background-color: rgba(240, 248, 255, 0.205);border-radius: 10px; color:white">
          <form action="/submit_pdf" class="file-upload-form" method="post" enctype="multipart/form-data">
            <div id="dropArea" class="drop-area">
                <label for="pdf" class="file-upload-label">
                    <div class="file-upload-design">
                        <svg viewBox="0 0 640 512" height="1em">
                            <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"></path>
                        </svg>
                        <p>Drag and Drop</p>
                        <p>or</p>
                        <input id="pdf" type="file" name="pdf_file" accept=".pdf"  />
                        <span class="browse-button">Browse file</span>
                    </div>
                </label>
            </div>
            <button id="submitBtn" class="button" type="submit" disabled>
                <span class="button-content">Submit</span>
            </button>
        </form>
        
        <script>
            var dropArea = document.getElementById('dropArea');
            var fileInput = document.getElementById('pdf');
            var submitButton = document.getElementById('submitBtn');
        
            dropArea.addEventListener('dragover', function(event) {
                event.preventDefault();
                dropArea.classList.add('drag-over');
            });
        
            dropArea.addEventListener('dragleave', function(event) {
                dropArea.classList.remove('drag-over');
            });
        
            dropArea.addEventListener('drop', function(event) {
                event.preventDefault();
                dropArea.classList.remove('drag-over');
                var files = event.dataTransfer.files;
                fileInput.files = files;
                checkFile();
            });
        
            fileInput.addEventListener('change', function(event) {
                checkFile();
            });
        
            function checkFile() {
                if (fileInput.files.length > 0) {
                    submitButton.disabled = false;
                    submitButton.style.cursor = 'pointer'; // Change cursor style to pointer
                } else {
                    submitButton.disabled = true;
                    submitButton.style.cursor = 'not-allowed'; // Change cursor style to not-allowed
                }
            }
        </script>
        </div>
    </div>
    {% include 'result.html' %}

    {% include 'about.html' %}

    <div class="contact-us" id="contact">
        {% include 'contactus.html' %}
    </div>
    {% include 'footer.html' %}